#outerbox{
    border-style: solid ;
    border-width: 5px;
    width: 500px;
    height: 500px;
    border-radius: 12px;
    margin-left: 200px;
    border-color: blue;
}
#innerbox{
    background-color: red;
    margin-top: 200px;
    margin-left: 200px;
    width: 100px;
    height: 100px


}
#span{
    margin: 20px 300px;
}